<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <title>Конвектор</title>
</head>
<body>
    <h2>Конвектор Римских Арабских чисел</h2>
    <form action="{% url 'conversion:input' %}" method="POST">
        {% csrf_token %}
        <div>
            <textarea name="num" required="" placeholder="Введите число" cols="30" rows="7" autofocus></textarea>

        </div>
        <div>
            <button type="submit">Конвертировать</button>
        </div>
        <div>
            <textarea name="result" required="" placeholder="Результат" cols="30" rows="7" readonly="readonly">{{latest_result}}</textarea>
        </div>
    </form>


</body>
</html>