<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous">
    </script>

    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function formjson(value) {
            console.log(value)
            var fail = false;

            if (!value.length) {
                fail = "Число не введено"
            if (fail) {
                alert(fail)
            }
            else{
                return false
                }
            } else {
                /* $.ajax({
                    url: 'conversion/input',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: $.toJSON(form),
                    dataType: 'text',

                });*/
                fetch("http://127.0.0.1:8000/conversion/input/", {
                    method: 'POST',
                    headers: { "X-CSRFToken": getCookie("csrftoken"),
                                    "Accept": "application/json",
                                    "Content-Type": "application/json"},
                    body: JSON.stringify(value)
                })
            }
        }
    </script>
    <title>Конвектор</title>
</head>
<body>
    <h2>Конвертер римских и арабских чисел</h2>
    <div>
        <form action="" method="post" id="form">

            <table>
                <th>
                    <td>
                        <textarea type="text" name="incoming" placeholder="Введите число" id="incoming" cols="30" rows="7"></textarea>
                    </td>
                    <td>
                        <input type="button" onclick="formjson(document.getElementById('incoming').value)" name="button" value="Конвертировать"/>
                    </td>
                    <td>
                        <textarea name="result" placeholder="Рузультат" cols="30" rows="7" readonly="readonly" id="result">{{latest_result}}</textarea>
                    </td>
                </th>
            </table>
        </form>

<!--
         <form action="{% url 'conversion:input' %}" method="POST">
        {% csrf_token %}
        <table >
            <th>
                <td>
                    <textarea name="num" required="" placeholder="Введите число" cols="30" rows="7" ></textarea>
                </td>
                <td>
                     <button type="submit" name="click" onclick="fetch(num)">Конвертировать</button>
                </td>
                 <td>
                     <textarea name="result" required="" placeholder="Результат" cols="30" rows="7" readonly="readonly">{{latest_result}}</textarea>
                </td>
            </th>
        </table>
    </form>
        -->
    </div>

</body>
</html>